<div class="mt-5 p-4 text-bg-secondary text-center">
    <p>Copyright ® Tashkent-2025</p>
</div>
<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" ></script>