<!doctype html>
<html lang="en">
 <%- include('./partials/head.ejs') %>
  <body>
   <%- include('./partials/nav.ejs') %>
   <!-- Main -->
   <div class="mt-4 p-5 text-bg-light rounded">
    <h1>About My blogs</h1> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p> 
  </div>
   <%- include('./partials/footer.ejs')%>
  </body>
</html>